<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <title>To-Do</title>
  </head>
  <body>
    <h1>To-Do List</h1>
    <form action="">
      What do you want to see ?
      <select name="status">
	<option value="todo">To-do Activities</option>
	<option value="done">Done activities </option>
      </select>
    </form>
    <div id="content">
    	 <table width="" cellspacing="" cellpadding="" border="">
      <tr>
	  <td>Activity</td>	  
	  <td>Done ?</td>
	</tr>
	<tr>
	  <td>Clean Room</td>
	  <td>
	    <form>
	      <input type="checkbox" name="status"> </input>
	    </form>
          </td>
	</tr>
	<tr>
	  <td>Finish todo</td>
	  <td>
	    <form>
	      <input type="checkbox" name="status"> </input>
	    </form>
          </td>
	</tr>
	<tr>
	  <td>Improve</td>
	  <td>
	    <form>
	      <input type="checkbox" name="status"> </input>
	    </form>
          </td>
	</tr>
</table>

    </div>
    </br>
    <address>
      <a href="mailto:adolfo@abuiles-laptop">Adolfo Builes</a>
    </address>
  </body>
</html>
